<p id="notice"><%= notice %></p>

<h1>Listing Email Infos</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Is open</th>
      <th>Is click</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_infos.each do |email_info| %>
      <tr>
        <td><%= email_info.email_id %></td>
        <td><%= email_info.is_open %></td>
        <td><%= email_info.is_click %></td>
        <td><%= link_to 'Show', email_info %></td>
        <td><%= link_to 'Edit', edit_email_info_path(email_info) %></td>
        <td><%= link_to 'Destroy', email_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email info', new_email_info_path %>
